<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth is required to discover and communicate with Mousr</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth is required to discover and communicate with Mousr</string>
</dict>
</plist>
